// .label{
// 

.list{
  margin-top: 1rem;
  border: 1px solid var(--ion-color-light);
  border-radius: 5px;
  --ion-item-background: var(--ion-color-light);
  --ion-item-color: var(--ion-color-dark);
  // --ion-item-border: 1px solid white;
  // --ion-item-border-radius: 15px;
  // --border: 1px solid white;
  // --border-radius: 30px;
}








